.project-filter {
    margin: 10px auto;
}

.project-filter nav {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}

.project-filter p {
    font-size: 0.9em;
    margin-right: 10px;
    white-space: nowrap;
}

.project-filter button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
    border-right: 1px solid #d8d8d8;
    font-size: 0.9em;
}

.project-filter button:last-child {
    border: 0;
}

.project-filter button.active {
    color: var(--primary-color);
}


/* media queries */
@media only screen and (max-width: 640px) {
    .project-filter nav {
        display: block;
        flex-wrap: wrap;
        padding: 15px;
    }
    
    .project-filter p {
        margin-bottom: 5px;
    }

    .project-filter button {
        padding-left: 0;
        padding-right: 10px;
        border: none;
    }
}